/* UTILITY */
.section{
    padding-bottom: 50px;
}

.sub{
    font-size: 18px;
    color: gray;
}

.white-text{
    color: white;
}

.blue-playstation{
    background-color: #0072ce;
}

.align-center{
    text-align: center;
}

.title-padding{
    padding-bottom: 25px;
}

.paragraph-padding{
    padding-bottom: 15px;
}


/* BUTTONS */
button{
    font-weight: 700;
}

.no-border{
    border: none;
}

.nav-button{
    background-color: #363636;
    padding: 10px 12px;
    border-radius: 35px;
}

.button{
    padding: 5px 8px;
    border-radius: 15px;
}

.purchase{
    background-color: orangered;
}

.informations-explore-buttons{
    border-radius: 20px;
    padding: 5px 10px;
}

.explore-plus{
    background-color: rgba(220,222,224,.9);
    color: #0072ce;
}

.explore-now{
    background-color: white;
    color: #19191f;
}

/* -------------- */
.supertop-title{
    background-color: black;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 33px;
    padding-right: 10px;
}

/*--------------- NAVBAR--------------- */


 nav{
    position: -webkit-sticky;
    top: 0;
    position: sticky;
    background-color: rgb(255, 255, 255);
    z-index: 1003;
}

.navbar{
    position: sticky;
}

.align-items{
    align-items: center;
}

.new-collapse{
    justify-content: flex-end;
}

.bg-costum-color{
    background-color: white;
}

.navbar .navbar-brand{
    font-weight: bold;
    color: #0072ce;
}

.navbar-light .navbar-nav .nav-link {
    color: #1f1f1f;
    font-weight: bold;
}

.main-menu::after{
    color: gray;
    display: inline-block;
    margin-left: .255em;
    vertical-align: middle;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
}

.main-menu:hover::after{
    color: #0072ce !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.enter-button{
    margin-left: 10px;
}

.button-nav-dark{
    border-radius: 15px;
    padding: 0 20px;
    font-weight: 500;
    background-color: #363636;;
}

.search-lens{
    width: 24px;
    cursor: pointer;
    margin-left: 20px;
}

.search-lens>img{
    width: 100%;
}

.navbar-brand{
    font-size: 35px;
}

/* -------HEADER-PICTURE---------- */

.box-header{
    padding-bottom: 30px;
}

.big-picture-header{
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    background-position: center;
    padding-top: 250px;
}

.title-big-picture{
    width: 250px;
    padding-bottom: 25px;
}

.title-big-picture img{
    width: 100%;
}

/*---------------- MAIN---------------- */

.box-mini-games{
    border-radius: 20px;
    border: 2px #fff solid;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: pointer;
}

.box-mini-games:hover{
    border: 2px rgb(0, 0, 255, 0.5) solid;
}

.box-mini-games-inner{
    border: 2px #fff solid;
    overflow: hidden;
    border-radius: 20px;
}

.box-mini-games-inner>img{
    width: 100%;
}

#blue-text{
    color: #0072ce;
}

/*--- ps5 section---- */
.playstation5-lines p{
    margin: 30px 0;
}

.box-img-ps5>img{
    width: 100%;
}

/* --Accessories ps5--- */

.container-accesories{
    padding-bottom: 30px;
}

.box-accesories-ps5{
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.box-accesories-ps5:hover{
    border-bottom: 2px solid #0072ce;
}

.accesories-ps5{
    opacity: 0.8;
}

.accesories-ps5:hover{
    opacity: 1;
}

.accesories-ps5>img{
    width: 60%;
}

/* --It Takes two -plus-- */
.box-main-game{
    padding-bottom: 30px;
    background-color: #1f1f1f;
}

.big-picture-main{
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    background-position: center;
    background-size: cover;
    padding: 30px;
    opacity: 0.8;
} 

.box-it-takes-two{
    color: rgb(241, 238, 238);
}

.title-picture-main img{
   width: 70%;
}

/* ----upcoming games on dark black background---- */

.box-grid{
    background-color: #1f1f1f;
    color: #f5f5f5;
    padding-bottom: 80px;
}

.new-game{
    cursor: pointer;
    font-weight:600;
}

.new-game>img{
    width: 100%;
    border-radius: 5px;
}

.margin-down{
    margin-bottom: 15px;
}

/*-- PS4 consolle and accesories -*/
.consolle-ps4>img{
    width: 100%;
}

/*-- playstation-plus section --*/
.box-playstation-plus{
    background-color: #8c8080;
}

.playstation-plus-logo>img{
    width: 60%;
}

.playstation-plus-img>img{
    width: 100%;
}

/* big boxes discount */
.offers-picture a>img{
    width: 100%;
}

/* ----playstation-now---- */
.box-playstation-now{
    background-color: #0a0e4b;
    padding: 30px 0;
}

.playstation-now-logo>img{
    width: 70%;
}

.playstation-now-img>img{
    width: 100%;
}

/* -----social section----- */

.social-logo a>img{
    width: 100%;
}


/* -----footer-section----- */

.footer-section{
    background-color: #00439c;
    padding: 50px 0;
    font-size: 14px;
}

.navbar-brand-footer{
    font-size: 90px;
}

.logo-footer>img{
    width: 90%;
}

.location{
    margin-bottom: 20px;
}

.footer ul{
    list-style: none;
    padding: 20px 0 0;
}

.footer ul li{
    margin-bottom: 8px;
}

.footer p{
    line-height: 25px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.logo-footer{
    margin-bottom: 8px;
}


/*---------- MEDIA QUERY------------------ */

/* Media XS */
@media only screen and (min-width: 0) and (max-width: 575px){
    
    .title-big-picture{
        width: 300px;
    }

    .container-minigames{
        margin-top: 0;
    }

    .disappearing-content{
        display: none;
    }

    .offers-picture{
        margin-bottom: 30px;
    }

    .social-logo{
        margin-bottom: 30px;
    }

    .footer ul{
        padding-left: 15px;
    }

    .accesories-ps5>img{
        width: 100%;
    }

    .box-playstation-plus{
        padding: 40px 0;
    }

}


/* Media SM*/
@media only screen and (min-width: 576px) and (max-width: 767px){
    .title-big-picture{
        width: 300px;
    }

    .disappearing-content{
        display: none;
    }

    .offers-picture{
        margin-bottom: 30px;
    }

    .footer ul{
        padding-left: 15px;
    }

    .accesories-ps5>img{
        width: 100%;
    }

    .box-playstation-plus{
        padding: 30px 0;
    }

}


/*------- Media MD -------- */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .title-big-picture{
        width: 300px;
    }
}












